<section class="cta">
  <h2 class="cta__title">המשימה שלי היא לתת לטפח את הפלטפורמה הדיגיטלית<br>שאתם צריכים בשביל לקדם את המטרות העסקיות שלכם.</h2>
  <div class="cta__buttons">
    <a href="#" class="cta__button">קח אותי לפרויקטים שלך</a>
    <a href="#" class="cta__button">תן לי לראות עוד</a>
    <a href="#" class="cta__button">בוא נדבר</a>
    <a href="#" class="cta__button">שלח מייל</a>
  </div>
  <div class="cta__tags">
    <span>פייסבוק</span>
    <span>יוטיוב</span>
    <span>אינסטגרם</span>
  </div>
</section> 