<section class="hero">
  <h1 class="hero__title">היי, אני יצחק ואני בונה<br>דברים באינטרנט.</h1>
  <p class="hero__subtitle">[או מעצב ומפתח אתרים עם התמחות בוורדפרס, אם אתם יותר בקטע רשמי]</p>
</section> 