<nav class="nav">
    <a href="/" class="nav__link">יצחק</a>
    <button class="nav__dropdown-button">תפריט</button>
    <ul class="nav__list">
        <li><a href="/about" class="nav__link">אודות</a></li>
        <li><a href="/shop" class="nav__link">חנות</a></li>
        <li><a href="/" class="nav__button">קבע שיחה עכשיו</a></li>
    </ul>
</nav>
