<section class="services">
  <h2 class="services__title">הלקוחות שלי חוצים תעשיות ויבשות</h2>
  <section class="logo-scroller">
  <div class="logo-scroller-content">
    <div class="logo-scroller-items" role="marquee">
      <div class="logo-scroller-row">

        <div class="logo-scroller-item">
          <span><img src="https://assets.codepen.io/191814/logo-geenleaf.png" alt="Greenleaf Logo"></span>
        </div>

        <div class="logo-scroller-item">
          <span><img src="https://assets.codepen.io/191814/logo-nfl.png" alt="National Football League (NFL) Logo"></span> 
        </div>

        <div class="logo-scroller-item">
          <span><img src="https://assets.codepen.io/191814/logo-coca-cola+%281%29.png" alt="Coca-Cola Logo"></span>
        </div>

        <div class="logo-scroller-item">
          <span><img src="https://assets.codepen.io/191814/logo-prime-video.png" alt="Amazon Prime Video Logo"></span>
        </div>

        <div class="logo-scroller-item">
          <span><img src="https://assets.codepen.io/191814/logo-BMW.png" alt="BMW Logo"></span>
        </div>

        <div class="logo-scroller-item">
          <span><img src="https://assets.codepen.io/191814/logo-barrys.png" alt="Barry's Bootcamp Logo"></span>
        </div>

        <div class="logo-scroller-item">
          <span><img src="https://assets.codepen.io/191814/logo-la-ballet.png" alt="Los Angeles Ballet Logo"></span>
        </div>

        <div class="logo-scroller-item">
          <span><img src="https://assets.codepen.io/191814/logo-warner-brothers+%281%29.png" alt="Warner Brothers Logo"></span>
        </div>

        <div class="logo-scroller-item">
          <span><img src="https://assets.codepen.io/191814/logo-prime-video.png" alt="Amazon Prime Video Logo"></span>
        </div>

        <div class="logo-scroller-item">
          <span><img src="https://assets.codepen.io/191814/Louis-V.png" alt="Louis Vuitton Logo"></span>
        </div>

      </div>
    </div>
  </div>
</section>

</section> 