<section class="teaser section">
  <div class="teaser__grid">
    <div class="teaser__card teaser__card--tall">
      <img src="https://picsum.photos/800/1200?random=1" alt="Teaser project 1">
    </div>
    <div class="teaser__card">
      <img src="https://picsum.photos/800/600?random=2" alt="Teaser project 2">
    </div>
    <div class="teaser__card">
      <img src="https://picsum.photos/800/600?random=3" alt="Teaser project 3">
    </div>
    <div class="teaser__card teaser__card--wide">
      <img src="https://picsum.photos/1600/600?random=4" alt="Teaser project 4">
    </div>
  </div>
</section> 